*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#carousel {
  white-space: nowrap; 
  overflow: hidden;
  position: relative;
}
#carousel #imgmain img{
height: 99.3vh;
width: 100%;
}

.arrow {
  width: 5%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
#right-arrow{
  right: 2%;
}
#left-arrow{
  left: 2%;
}
@media (max-device-width: 1024px) {
  .arrow {
    width: 20%;
  }
}

@media (max-width: 768px) {
  .arrow {
    width: 10%;
  }
}

.famain{
  position: absolute;
  bottom: 20px;
  left: 45%;
  transform: translateX(-45%);
 
}
.famain i{
 position: relative;
 margin-left: 5px;
 cursor: pointer;
 color: transparent;
 border: 1px solid gray;
 border-radius: 50%;
}


